{% extends 'layout.html' %}

{% block content %}
  <div class="profile-wrap">
    <h2>회원가입</h2><hr>
    <form id="join-form" action="/auth/join" method="post">
      <div class="input-group">
        <label for="join-name">이름</label>
        <input id="join-name" type="text" name="name"></div>
      <div class="input-group">
        <label for="join-tel">연락처</label>
        <input id="join-tel" type="tel" name="tel"></div>
      <div class="input-group">
        <label for="join-email">이메일</label>
        <input id="join-email" type="email" name="email"></div>
      <div class="input-group">
        <label for="join-nick">닉네임</label>
        <input id="join-nick" type="text" name="nick"></div>
      <div class="input-group">
        <label for="join-password">비밀번호</label>
        <input id="join-password" type="password" name="password">
      </div>
      <button id="join-btn" type="submit" class="jogak-btn">회원가입</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}
